### Copyright 2004-2018 Gentoo Foundation
<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <title>Planet Gentoo</title>
  <meta name="theme-color" content="#54487a">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="og:title" content="Planet Gentoo">
  <meta property="og:image" content="https://www.gentoo.org/assets/img/logo/gentoo-g.png">
  <meta name="twitter:image" content="https://www.gentoo.org/assets/img/logo/gentoo-g.png">
  <link rel="apple-touch-icon" href="https://www.gentoo.org/assets/img/logo/icon-192.png">
  <link rel="icon" sizes="192x192" href="https://www.gentoo.org/assets/img/logo/icon-192.png">
  <link href="https://assets.gentoo.org/tyrian/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="https://assets.gentoo.org/tyrian/tyrian.min.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" href="/planet-tyrian.css" type="text/css">

  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="search" type="application/opensearchdescription+xml" href="https://www.gentoo.org/search/www-gentoo-org.xml" title="Gentoo Website">
  <link rel="search" type="application/opensearchdescription+xml" href="https://www.gentoo.org/search/forums-gentoo-org.xml" title="Gentoo Forums">
  <link rel="search" type="application/opensearchdescription+xml" href="https://www.gentoo.org/search/bugs-gentoo-org.xml" title="Gentoo Bugzilla">
  <link rel="search" type="application/opensearchdescription+xml" href="https://www.gentoo.org/search/packages-gentoo-org.xml" title="Gentoo Packages">
  <link rel="search" type="application/opensearchdescription+xml" href="https://www.gentoo.org/search/archives-gentoo-org.xml" title="Gentoo List Archives">
  <link rel="alternate" type="application/rss+xml" title="Planet Gentoo" href="rss20.xml">
  <link rel="alternate" type="application/atom+xml" title="Planet Gentoo" href="atom.xml">
</head>

  <body class="">
    <header>
  <div class="site-title">
    <div class="container-fluid">
      <div class="row">
        <div class="site-title-buttons">
          <div class="btn-group btn-group-sm">
            <a href="https://get.gentoo.org/" role="button" class="btn get-gentoo"><span class="fa fa-fw fa-download"></span> <strong>Get Gentoo!</strong></a>
            <div class="btn-group btn-group-sm">
              <a class="btn gentoo-org-sites dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
                <span class="fa fa-fw fa-map-o"></span> <span class="hidden-xs">gentoo.org sites</span> <span class="caret"></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="https://www.gentoo.org/" title="Main Gentoo website"><span class="fa fa-home fa-fw"></span> gentoo.org</a></li>
                <li><a href="https://wiki.gentoo.org/" title="Find and contribute documentation"><span class="fa fa-file-text-o fa-fw"></span> Wiki</a></li>
                <li><a href="https://bugs.gentoo.org/" title="Report issues and find common issues"><span class="fa fa-bug fa-fw"></span> Bugs</a></li>
                <li><a href="https://forums.gentoo.org/" title="Discuss with the community"><span class="fa fa-comments-o fa-fw"></span> Forums</a></li>
                <li><a href="https://packages.gentoo.org/" title="Find software for your Gentoo"><span class="fa fa-hdd-o fa-fw"></span> Packages</a></li>
                <li class="divider"></li>
                <li><a href="https://planet.gentoo.org/" title="Find out what's going on in the developer community"><span class="fa fa-rss fa-fw"></span> Planet</a></li>
                <li><a href="https://archives.gentoo.org/" title="Read up on past discussions"><span class="fa fa-archive fa-fw"></span> Archives</a></li>
                <li><a href="https://gitweb.gentoo.org/" title="Browse our source code in Gitweb"><span class="fa fa-code fa-fw"></span> Gitweb</a></li>
                <li><a href="https://sources.gentoo.org/" title="Browse our source code in CVS"><span class="fa fa-code fa-fw"></span> CVS Sources</a></li>
                <li class="divider"></li>
                <li><a href="https://infra-status.gentoo.org/" title="Get updates on the services provided by Gentoo"><span class="fa fa-server fa-fw"></span> Infra Status</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="logo">
          <a href="/" title="Back to the homepage" class="site-logo">
            <object data="https://assets.gentoo.org/tyrian/site-logo.svg" type="image/svg+xml">
            <img src="https://assets.gentoo.org/tyrian/site-logo.png" alt="Gentoo Linux Logo">
            </object>
          </a>
          
        </div>
      </div>
    </div>
  </div>
  <nav class="tyrian-navbar" role="navigation">
    <div class="container-fluid">
      <div class="row">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse navbar-main-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li class=""><a href="/archives/">Archives</a></li>
            <li class=""><a href="/universe/">Gentoo Universe</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class=""><a href="https://www.gentoo.org/donate/"><span class="fa fa-heart"></span> Donate</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  
</header>


    <div class="container-fluid">
      <div class="row">
        <div id="left-column" class="col-md-3">
<div class="altmenu">
<div class="visible-sm-block visible-md-block visible-lg-block"><b>Contributors:</b></div>
        <div class="visible-xs-block">
          <button type="button" class="btn btn-primary btn-block" data-toggle="collapse" data-target=".navbar-contrib-collapse" id="contrib-collapse">
		Contributors: <span class="caret"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse navbar-contrib-collapse">
### Subscriptions list down left menu
<ul>
<TMPL_LOOP Channels>
<li><a class="altlink" href="<TMPL_VAR link ESCAPE="HTML">" title="<TMPL_VAR title ESCAPE="HTML">"><TMPL_VAR name></a></li>
</TMPL_LOOP>
</ul>
</div>
<br><b>Last updated:</b><br>
<TMPL_VAR date>

<br><br><b>Disclaimer:</b><br>
Views expressed in the content published here do not necessarily represent the views of Gentoo Linux or the Gentoo Foundation.

<br><br><div align="center">
<a href="rss20.xml">
<img src="/images/rss20.png" border="0" alt="Syndicate this Planet">
</a><br>
<a href="opml.xml">
<img src="/images/opml.png" border="0" alt="Blogroll">
</a><br>
</div>

<br>Bugs? Comments? Suggestions? <a href="https://wiki.gentoo.org/wiki/Project:Planet">Contact us!</a>

<br><br><b>Powered by:</b><br>
<a href="http://www.intertwingly.net/code/venus/">Planet Venus</a>

</div>
</div>

### The actual blog entries
<div id="content" class="col-md-9">
<div class="media">
<div class="media-left"><img src="/images/gentoo.gif" class="media-object"></div>
<div class="media-body"><TMPL_VAR description><TMPL_VAR owner_name></div>
</div><br />

<TMPL_LOOP Items>
<TMPL_IF new_date><div class="dateheading"><TMPL_VAR new_date></div></TMPL_IF>

<TMPL_IF new_channel>
<div class="personheading">
<span class="personheading">
<a href="<TMPL_VAR channel_link ESCAPE="HTML">" title="<TMPL_VAR channel_title ESCAPE="HTML">"><TMPL_VAR channel_name></a>
</span>
<TMPL_IF channel_username>
a.k.a. <b><TMPL_VAR channel_username></b>
(<a href="https://dev.gentoo.org/~<TMPL_VAR channel_username ESCAPE="HTML">/">homepage</a>,
<a href="https://bugs.gentoo.org/buglist.cgi?bug_status=UNCONFIRMED&amp;bug_status=CONFIRMED&amp;bug_status=IN_PROGRESS&amp;email1=<TMPL_VAR channel_username ESCAPE="HTML">%40gentoo.org&amp;emailtype1=exact&amp;emailassigned_to1=1&amp;emailreporter1=1">bugs</a>)
</TMPL_IF>
<TMPL_IF channel_project>
 <b>(<TMPL_VAR channel_project ESCAPE="HTML">)</b>
</TMPL_IF>
</div>
</TMPL_IF>

<TMPL_IF title>
<div class="entryheading">
<span class="entryheading"><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR title></a></span> (<TMPL_VAR date>)
</div>
</TMPL_IF>

<div class="media">
<div class="media-body">
<div><TMPL_VAR content>
</div>
<TMPL_IF comments>
<p>
<span class="commentlink">
<a href="<TMPL_VAR comments ESCAPE="HTML">">Leave a comment</a>
</span>
</p>
</TMPL_IF>
</div>
<div class="media-right">
<TMPL_IF channel_gravatar>
<img class="media-object" src="https://www.gravatar.com/avatar/<TMPL_VAR channel_gravatar ESCAPE="HTML">.jpg?s=100&r=pg&d=http%3A%2F%2Fplanet.gentoo.org%2Fimages%2F<TMPL_IF channel_face><TMPL_VAR channel_face ESCAPE="HTML"><TMPL_ELSE>larrythecow.gif</TMPL_IF>" alt="" align="right">
</TMPL_IF></div>
</div>

</TMPL_LOOP>

</div>
</div>
</div>
<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-3 col-md-2">
        <ul class="footerlinks three-icons">
          <li><a href="https://twitter.com/gentoo" title="@Gentoo on Twitter"><span class="fa fa-twitter fa-fw"></span></a></li>
          <li><a href="https://plus.google.com/+Gentoo" title="+Gentoo on Google+"><span class="fa fa-google-plus fa-fw"></span></a></li>
          <li><a href="https://www.facebook.com/gentoo.org" title="Gentoo on Facebook"><span class="fa fa-facebook fa-fw"></span></a></li>
        </ul>
      <div>
        <div class="sitemap text-center">
          <a href="https://wiki.gentoo.org/wiki/Foundation:Privacy_Policy">Privacy Policy</a>
        </div>
      </div>
      </div>
      <div class="col-xs-9 col-md-9">
        <strong>&copy; 2001&ndash;2018 Gentoo Foundation, Inc.</strong><br>
        <small>
          Gentoo is a trademark of the Gentoo Foundation, Inc.
          The contents of this document, unless otherwise expressly stated, are licensed under the
          <a href="https://creativecommons.org/licenses/by-sa/3.0/" rel="license">CC-BY-SA-3.0</a> license.
          The <a href="https://www.gentoo.org/inside-gentoo/foundation/name-logo-guidelines.html">Gentoo Name and Logo Usage Guidelines</a> apply.
        </small>
      </div>
    </div>
  </div>
</footer>
    <script src="https://assets.gentoo.org/tyrian/jquery.min.js"></script>
    <script src="https://assets.gentoo.org/tyrian/bootstrap.min.js"></script>
  </body>
</html>
